<br>
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<form>
  <div class="form-group">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>
  </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class:"btn btn-danger" %>
    </div>
  <% end %>
<form>
<br>
<%= render "professors/shared/links" %>
